@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@700&display=swap") rel="stylesheet">;

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body {
	font-family: 'League Gothic', sans-serif;
	font-size: 18px;
	margin: 0px;
	background-color: rgb(61, 132, 184);
	color: white;
}


h1, h2, h3 {
	font-weight: bold;
}

a {
	text-decoration: none ;
}

#maps {width: 500px;
	height:  auto;
border-radius: 4px;}